:root {
    --rootFont: WorkSans-VariableFont_wght;
    --lightPink: hsl(275, 100%, 97%);
    --grayPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
    font-size: 16px;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightPink);
    font-family: var(--rootFont);
}

.container {
    display: flex;
    flex-direction: column;
}

#mobile-img {
    margin: 0;
}

#desktop-img {
    display: none;
}

.faq-container {
    background-color: white;
    translate: 0 -12.5%;
    display: flex;
    flex-direction: column;
    margin: 6.7%;
    padding: 6.7% 6.7% 0;
    border-radius: 10px;
    box-shadow: -10px 10px 70px -10px var(--grayPurple);
}

.faq-container .heading-logo {
    display: flex;
    align-items: center;
}

.faq-container .star {
    width: 5.3%;
}

.heading-logo span {
    font-size: 1.75rem;
    padding-left: 7.5%;
    margin: 0;
    font-weight: 700;
}

.border {
    border-bottom: 2px solid var(--lightPink);
}

#question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--darkPurple);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 7.5% 0;
}

#question span {
    width: 90%;
}

#question .qa {
    cursor: pointer;
}

#answer {
    /*display: none;*/
    width: 95%;
    color: var(--grayPurple);
    font-size: 0.85rem;
    line-height: 150%;
    font-weight: 400;
    padding-bottom: 7.5%;
}

#question .plus {
   display: flex; 
}

#question .minus {
    display: none;
}

.attribution { 
    font-size: 11px; 
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    padding-bottom: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: bold;
}